/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS Variables*/
:root {
    --primary-color: #f26a2e;
    --secondary-color: #4d4d4d;
}

/*Navigation Bar*/
#navbar {
    display: flex;
    position: relative;
}

#navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(215, 215, 215);
    z-index: -1;
}

#navbar ul {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: flex;
    font-size: 1.5rem;
}

#navbar ul li {
    list-style: none;
    margin-right: 1.3rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 1px 5px;
}

#navbar ul li a:hover {
    color: white;
    background-color: black;
    border-radius: 20px;
}

#logo {
    margin-top: 2px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;

}

#logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/*section*/

.heading {
    font-size: 60px;
    font-weight: bold;
    color: #17252A;
    text-align: center;
}

.sec_title {
    font-size: 50px;
    font-weight: bold;
    color: #17252A;
    padding-bottom: 30px;
}

#first_sec {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3AAFA9;
    padding-bottom: 50px;
}

#first_sec ul {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%; 
    font-size: 20px;
}

#first_sec img {
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 100%;
}

#second_sec {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1%;
    background-color: #ffffff;
    padding-bottom: 50px;
}

#second_sec ul {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #ffffff;
    padding-bottom: 50px;
    font-size: 20px;
    float: right;
}

#second_sec ul ol {
    list-style: circle;
}

#second_sec img {
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 100%;
}

#third_sec {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3AAFA9;
    padding-bottom: 50px;
}

#third_sec ul {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

#third_sec img {
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 100%;
}

#third_sec ul ol {
    list-style: circle;
}

#fourth_sec {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 50%;
    background-color: #1F2833;
    padding-bottom: 50px;
}

#fourth_sec p {
    color: #ffffff;
}

#fourth_sec div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1F2833;
    padding-top: 20px;
}

#fourth_sec div a {
    padding-left: 2px;
    padding-right: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 20px;
}

/*Services*/

#background {
    background-image: url("https://source.unsplash.com/random/200x200?sig=1");
}